# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.env

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# ML / Experiments
# =========================
mlruns/
mlflow.db
notebook/

# =========================
# Data
# =========================
data/

# =========================
# Logs
# =========================
*.log
phases.txt 
system architecture